:root {
  --white: #fff;
  --black: #000;
  --gray: #b7b7b7;
  --dark-gray: #6e6e6e;

  --font-sans: 'proxima-nova', sans-serif;

  --background-color: var(--white);
  --foreground-color: var(--black);

  --rhythm: 1.5rem;
}
  
* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--font-sans);
  margin: 0;
  text-wrap: balance;
}

main {
  margin: 0 auto;
  max-width: 1440px;
}

/* Text Styles */
h1, h2 {
  font-weight: 700;
}

h1 {
  font-size: 4rem;
  line-height: 4.5rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

h3 {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  margin: 0;
}

.hero-title > h3 {
  color: var(--gray);
}

h4 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark-gray);
}

li {
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark-gray);
  line-height: 1.5rem;
}

a {
  color: var(--black);
  text-decoration: none;
}

/* Header Styles */

header {
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: calc(var(--rhythm)*0.1) calc(var(--rhythm)*0.5);
  position: sticky;
  width: 100%;
  z-index: 100;
}

.header-text {
  color: var(--white);
  margin: calc(var(--rhythm)*0.5) 0;
  width: 100%;

}

.header-text:first-child {
  text-align: left;
}

.header-text:last-child {
  text-align: right;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--rhythm);
}


.hero-title {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  height: 100%;
}

.hero-title > h1 {
  margin-bottom: calc(var(--rhythm)*0.5);
}

.hero-logo {
  height: 100%;
  width: auto;
}

.website-link {
  text-decoration: underline;
}

.details-description {
  display: flex;
  gap: calc(var(--rhythm)*0.1);
  flex-direction: column;
  align-items: center;
  margin-top: calc(var(--rhythm)*0.5);
  text-align: center;
  max-width: 600px;
}


.details-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: var(--gray) 1px solid;
}

.details-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  padding: calc(var(--rhythm)*2) 0;
}

.details-heading > h2 {
  margin: 0;
}

 .details{ 
  border-top: var(--gray) 1px solid;
}

.details-column-heading {
  text-align: center;
  width: 100%;
}

.details-column-1, .details-column-2, .details-column-3 {
  width: 33.33%;
  padding: calc(var(--rhythm)*2);
}

.details-column-2 {
  width: 33.33%;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: var(--gray);
}

.microinteraction-section {
  text-align: center;
  width: 100%;
  padding: calc(var(--rhythm)*5) var(--rhythm);
}

.microinteraction-gif {
  max-width: 70%;
  height: auto;
  margin: auto;
  padding: calc(var(--rhythm)*2) 0;
}

.microinteraction-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: calc(var(--rhythm)*2) var(--rhythm);
  gap: 0;
  border-top: var(--gray) 1px solid;
}

.microinteraction-images {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  gap: calc(var(--rhythm)*2);
}

.image-wrapper {
  margin: var(--rhythm);
}

.microinteraction-image {
  height: auto;
  max-height: 300px;
  width: auto;
  border: 1px solid var(--gray);
}

footer {
  text-align: center;
  padding: calc(var(--rhythm)*0.1);
  color: var(--white);
  background-color: var(--black);
}

@media (max-width: 1000px) {
  .hero {
    flex-direction: column;
    align-items: center;
    gap: calc(var(--rhythm)*2);
    padding: calc(var(--rhythm)*2) var(--rhythm);
  }

  .hero-title {
    align-items: center;
    text-align: center;
  }

  .details-row {
    flex-direction: column;
    border: none;
  }

  .details-column-1, .details-column-2, .details-column-3 {
    width: 100%;
    border: none;
    padding: var(--rhythm);
  }

  .details-column-2 {
    border: none;
  }

  .details {
    padding: calc(var(--rhythm)*2) var(--rhythm);
    gap: calc(var(--rhythm)*2);
  }

  .details-heading {
    padding: 0;
    margin-bottom: calc(var(--rhythm)*2);
  }

  .microinteraction-gif {
    padding: calc(var(--rhythm)*2) 0;
  }

  .microinteraction-images {
    justify-content: start;
    overflow-x: auto;
    gap: calc(var(--rhythm)*2);
  }
}

.button-container {
  display: flex;
  justify-content: center;
  gap: calc(var(--rhythm)*2);
  margin: 0 calc(var(--rhythm)*20);
  margin-top: calc(var(--rhythm)*2);
}

/* .button-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--rhythm)*0.5);
  width: 100%;
} */

.button {
  background-color: var(--black);
  border: 1px solid var(--black);
  color: var(--white);
  font-family: var(--font-sans);
  font-size: 1.25rem;
  font-weight: 600;
  padding: calc(var(--rhythm)*0.75) calc(var(--rhythm)*2);
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.button:hover {
  background-color: var(--white);
  color: var(--dark-gray);  
  border: 1px solid var(--black);
  transition: background-color 0.3s ease;
}

#inactive-button:hover {
  background-color: var(--black);
  border: 1px solid var(--black);
  color: var(--white);
  font-family: var(--font-sans);
  font-size: 1.25rem;
  font-weight: 600;
  padding: calc(var(--rhythm)*0.75) calc(var(--rhythm)*2);
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}